<div class="table-container">
    <div class="table-header">
        <h3>Project List</h3>
        <button class="new-button" mat-raised-button color="primary" (click)="createProject()">New</button>
      </div>
      <table mat-table [dataSource]="PROJECTS" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
      
        <ng-container matColumnDef="numberOfTasks">
          <th mat-header-cell *matHeaderCellDef>Number Of Tasks</th>
          <td mat-cell *matCellDef="let element">{{ element.numberOfTasks }}</td>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="button-grp">
                <button mat-icon-button (click)="viewProjectTasks(element)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button (click)="editProject(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
            </div>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
      
</div>
  