<h2 mat-dialog-title>Create New Task</h2>
<div mat-dialog-content>
  <form [formGroup]="taskForm" >
   <div class="form">
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="taskForm.controls.title.hasError('required')">Title is required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="taskForm.controls.description.hasError('required')">Description is required</mat-error>
      </mat-form-field>
    <mat-form-field>
       
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectId">
          <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Assign To</mat-label>
        <mat-select formControlName="userId">
          <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let option of priorityOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-error *ngIf="taskForm.controls.startDate.errors?.required">Start date is required</mat-error>
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    

    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate">
      <mat-error *ngIf="taskForm.controls.dueDate.errors?.dateRange">Due date must be after start date</mat-error>
      <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker></mat-datepicker>
    </mat-form-field>
    
   </div>
  </form>
</div>
<div mat-dialog-actions>
  <div class="button-container">
    <button mat-button (click)="onCancel()" class="cancel-button">Cancel</button>
    <button mat-button color="primary" class="save-button" [disabled]="!taskForm.valid">Save</button>
  </div>
</div>
